<html>
  <body>
    <h1>Sign Up</h1>
    <form action="/signup" th:object="${user}" method="POST" enctype="utf8">
      <div>
        <p>Username <input th:field="*{username}"/></p>
      </div>
      <div>
        <p>Email<input type="email" th:field="*{email}"/> </p>
      </div>
      <div>
        <p>Password <input type="password" th:field="*{password}"/></p>
      </div>
      <div th:object="${matchingPassword}">
        <p>Confirm <input type="password"/></p>
      </div>
      <button type="submit" th:text="Submit"></button>
    </form>
  </body>
</html>