<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>main</title>
  </head>
  <header>
  </header>
  <body>
    <div class="section">
      <h1>Habibi Food 1488</h1>
      <div class="task-list">
        <h2>To-do list</h2>
        <div class="task">
            <div class="tas-header">
            <h3 class="task-name">Наказать свинью</h3>
            <p>Status: {status}</p>
            <p>Assigned user: {creationDate}</p>
            <p>Creation date: {creationDate}</p>
            <p>Due date: {dueDate}</p>
          </div>
          <div class="task-body">
            <h4>Description: {description}</h4>
            <p>Comments: comments</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>